html {
    font-size: 25px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 1rem;;
}

#row-1, #row-2 {
    border-bottom: solid;
}

#row-1, #row-2, #row-3 {
    display: flex;
    width: 15rem;
}

#square-0, #square-1, #square-2,
#square-3, #square-4, #square-5,
#square-6, #square-7, #square-8 {
    font-size: 5rem;
    width: 6rem;
    text-align: center;
}

#square-0, #square-1,
#square-3, #square-4,
#square-6, #square-7 {
    border-right: solid;
}

.player {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}



#button-wrapper {
    text-align: center;
    margin-top: 2rem;
}

#start-game {
    width: 10rem;
    height: 4rem;
    font-size: 1.5rem;
}

/*Classes toggled through js*/
.player-hidden {
    display: none;
}